<!DOCTYPE html>
<html lang="en">
<head>
  <title>Charms</title>
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-3.8.1.min.css" />
</head>
<body>
  <div class="l-site">
    <div class="u-fixed-width">
      <table aria-label="Vanilla framework table example">
  <thead>
    <tr>
      <th>Recipe Name</th>
      <th>Channels</th>
      <th>Arch</th>
      <th>State</th>
      <th>Age</th>
      <th>Revision</th>
      <th>Store Rev</th>
    </tr>
  </thead>
  <tbody>
    {%- for charmhub_name, value in all_builds|items %}
    {%- for recipe_name, arch_build in value.builds|items %}
      {%- for arch_name, build in arch_build|items %}
        <tr>
          <td><a href="{{ build.recipe_web_link }}">{{ recipe_name }}</a></td>
          <td>
            <div>
              <ul class="p-list">
                {%- for channel in build.store_channels %}
                  <li class="p-list__item"><a href="https://charmhub.io/{{ charmhub_name }}?channel={{ channel }}">{{ channel }}</a></li>
                {%- endfor %}
              </ul>
            </div>
          </td>
          <td>{{ arch_name }}</td>
          <td>
            <a href="{{ build.web_link }}">
              {%- if build.buildstate in ['Failed to build', 'Failed to upload'] %}
                <i class="p-icon--error"></i>
              {%- elif build.buildstate in ['Needs building', 'Currently building', 'Uploading build'] %}
                <i class="p-icon--spinner u-animation--spin"></i>
              {%- elif build.buildstate == 'Successfully built' %}
                <i class="p-icon--success"></i>
              {%- endif %}
              {{ build.buildstate }}
            </a>
          </td>
          <td>
            <div  class="p-tooltip" aria-described-by="datebuilt-tooltip-{{ recipe_name|replace('.', '-')|replace('/', '-') }}-{{ arch_name|replace('.', '-')|replace('/', '-') }}">
              {{ build.datebuilt|humanize_naturaltime(when=NOW) }}
              <span class="p-tooltip__message" role="tooltip" id="datebuilt-tooltip-{{ recipe_name|replace('.', '-')|replace('/', '-') }}-{{ arch_name|replace('.', '-')|replace('/', '-') }}">{{ build.datebuilt }}</span>
            </div>
          </td>
          <td>
            {%- if build.revision %}
              {%- if value.charm_project.repository[-4:] == '.git' %}
                <a href="{{ value.charm_project.repository[:-4] }}/commit/{{ build.revision }}">{{ build.revision[:7] }}</a>
              {%- else %}
                <a href="{{ value.charm_project.repository }}/commit/{{ build.revision }}">{{ build.revision[:7] }}</a>
              {% endif %}
            {%- else %}
              None
            {%- endif %}
          </td>
          <td>
            {%- if build.store_upload_status == 'Uploaded' %}
              {{ build.store_upload_revision }}
            {% elif build.store_upload_error_message %}
              <i class="p-icon--error"></i>{{ build.store_upload_error_message }}
            {%- endif %}
          </td>
        <tr>
      {%- endfor %}
    {%- endfor %}
{%- endfor %}
  </tbody>
      </table>

    </div>
    <footer class="l-footer--sticky p-strip--light">
      <nav class="row" aria-label="Footer">
        <div class="has-cookie">
          <p>Report generated by <a href="https://github.com/openstack-charmers/charmhub-lp-tools/">charmhub-lp-tools</a> (<i>{{ NOW }}</i>)</p>
        </div>
      </nav>
    </footer>
  </div>
</body>
</html>
