<!DOCTYPE html>
<html lang="en">
<head>
  <title>Charmed OpenStack Releases</title>
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-3.8.1.min.css" />
</head>
<body>
  <div class="l-site">
    <div class="u-fixed-width">
      <table aria-label="Vanilla framework table example">
        <thead>
          <tr>
            <th aria-sort="none">Charm</th>
            <th aria-sort="none">Edge</th>
            <th aria-sort="none">Beta</th>
            <th aria-sort="none">Candidate</th>
            <th aria-sort="none">Stable</th>
          </tr>
        </thead>
        <tbody>
          {%- for charm, risks in charms|dictsort %}
            <tr>
              <td>{{ charm }}</td>
              {%- for risk in ['edge', 'beta', 'candidate', 'stable'] %}
                <td>
                  {% if risk in risks %}
                    <ul class="p-list">
                      {%- for channel_def in risks[risk] %}
                        {%- if channel_def %}
                          <li class="p-list__item">
                            {{ channel_def.revision.revision }} ({{ channel_def['channel']['base']['channel'] }}/{{ channel_def['channel']['base']['architecture'] }})
                          </li>
                        {%- else %}
                          -
                        {%- endif %}
                      {%- endfor %}
                    </ul>
                  {% else %}
                    -
                  {%- endif %}
                </td>
              {%- endfor %}
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
    <footer class="l-footer--sticky p-strip--light">
      <nav class="row" aria-label="Footer">
        <div class="has-cookie">
          <p>Report generated by <a href="https://github.com/openstack-charmers/charmhub-lp-tools/">charmhub-lp-tools</a> (<i>{{ NOW }}</i>)</p>
        </div>
      </nav>
    </footer>
  </div>
</body>
</html>
