<!DOCTYPE html>
<html lang="en">
<head>
  <title>Charmed OpenStack Releases</title>
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-3.8.1.min.css" />
</head>
<body>
  <div class="l-site">
    <div class="u-fixed-width">
      <ul class="p-matrix">
      {%- for project, tracks in reports|items %}
        {%- for track, risks in tracks|items %}
          <li class="p-matrix__item">
            {%- if project == 'openstack' %}
              <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/a7916513-picto-openstack.svg" alt="" />
            {%- elif project == 'ovn' %}
              {# image borrowed from charmhub's icon #}
              <img class="p-matrix__img" src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_128,h_128/https://api.charmhub.io/api/v1/media/download/charm_IZNCMMvVZe439kt2NBDjpo8h7CPX3Y3g_icon__161d9a70c6152444cd0936c338d1405aaa9cd934539247944ecb582f18b330e7.png" alt="" />
            {%- elif project == 'ceph' %}
              {# image borrowed from charmhub's icon #}
              <img class="p-matrix__img" src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_128,h_128/https://api.charmhub.io/api/v1/media/download/charm_UpAfKh0Pe2jm30IRj6xJXgH6R3lS9E0M_icon__3405fdbe446c755a0dd64114dd9f091b81da8b86b04d24f5903342406e3930a1.png" alt="" />
            {%- endif %}
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="#">{{ project }} {{ track }}</a></h3>
              <div class="p-matrix__desc">
                <ul class='p-list'>
                  {%- for risk, fname in risks|items %}
                    <li class="p-list__item"><a href="{{ fname }}">{{ risk }}</a></li>
                  {%- endfor %}
                </ul>
              </div>
            </div>
          </li>
        {%- endfor %}
      {%- endfor %}
    </div>
    <footer class="l-footer--sticky p-strip--light">
      <nav class="row" aria-label="Footer">
        <div class="has-cookie">
          <p>Report generated by <a href="https://github.com/openstack-charmers/charmhub-lp-tools/">charmhub-lp-tools</a> (<i>{{ NOW }}</i>)</p>
        </div>
      </nav>
    </footer>
  </div>
</body>
</html>
