ruamel.yaml
theblues
libcharmstore
launchpadlib
prettytable
humanize<4.0.0  # newer versions of humanize are incompatible with jinja2-humanize-extension
backports.zoneinfo; python_version < '3.9'
SecretStorage  # LP: #1923727
macaroonbakery
pymacaroons
tenacity
distutils-extra-python  # needed by python-apt
# python-apt available in pypi is too old, so using upstream's git repo with a tag.
git+https://git.launchpad.net/python-apt@2.3.0#egg=python-apt
charmcraft<3.0  # stick to the 2.x series
# to generate html reports
Jinja2
jinja2-humanize-extension
requests
requests-cache
