python-apt @ git+https://git.launchpad.net/python-apt@2.5.3
ruamel.yaml
theblues
libcharmstore
launchpadlib
prettytable
humanize<4.0.0  # newer versions of humanize are incompatible with jinja2-humanize-extension
backports.zoneinfo; python_version < '3.9'
SecretStorage  # LP: #1923727
macaroonbakery
pymacaroons
tenacity
charmcraft<3.0  # stick to the 2.x series
# to generate html reports
Jinja2
jinja2-humanize-extension
requests
requests-cache
schema
GitPython
